{%extends'base.html'%}
{%blockhead%}
<title>about page </title>
{%endblock%}

{%blockbody%}
<main class="container mx-auto my- bg-light border" style="width:60%;">
<h1 class="p-2 border-bottom border=2">About page</h1>
<p>
    this flask app is developed for basic understandingof python-flask
</p>
<p>
    click <strong><a href="/signup " class="btn btn-outline-success py-1">signup</a></strong>and 
    <strong><a href="/signin " class="btn btn-outline- success
            py-1">signin</a></strong> in the nav bar

</p>
</main>
{%endblock%}
